<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="GoYConnect" connectionString="Data Source=.\sqlexpress;Initial Catalog=mrgoydb;Integrated Security=True" />
<!--    <add name="GoYConnect" connectionString="Data Source=184.168.194.70;User Id=mrgoydb;Password=fhWP6pf2R8" /> -->
    <add name="MRMISGADBConnect" connectionString="Data Source=184.168.194.70;User Id=mrmisgadb;Password=mR!MiSgA6;" />
    <add name="MRMISGADBConnection" connectionString="Data Source=184.168.194.70;User Id=mrmisgadb;Password=mR!MiSgA6;" />
<!--    <add name="ConnectionString" connectionString="Data Source=184.168.194.70;User ID=mrgoydb;Password=fhWP6pf2R8"
      providerName="System.Data.SqlClient" /> -->
<!--    <add name="mrgoydbConnectionString" connectionString="Data Source=184.168.194.70;Initial Catalog=mrgoydb;Persist Security Info=True;User ID=mrgoydb;Password=fhWP6pf2R8"
      providerName="System.Data.SqlClient" /> -->
     <add name="ConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=mrgoydb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
     <add name="mrgoydbConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=mrgoydb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="office, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.Vbe.Interop, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>